* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(198, 190, 206);;
}

window#waybar {
    background-color: rgb(54, 52, 56);
    border: 3px solid rgb(40, 36, 44);
    border-radius: 10px;
    color: rgb(213, 231, 188);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: rgba(91, 107, 60, 0.048);
    font-weight: bolder;
    /* box-shadow: inset 0 -3px rgb(48, 54, 36); */
}

/* #clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
} */



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
label:focus {
    background-color: #000000;
}

.test-class {
    color: rgb(213, 231, 188);
}

#window,
#workspaces {
    margin: 0 4px;
    color: whitesmoke;
}