$bg: #ffffff;
$fg: #ffffff;

.basic-text {
    background-color: rgba($color: #000000, $alpha: 0.0);
    color:aqua;
}

.window {
    background-color: rgba($color: #000000, $alpha: 1.0);
}



// vim:ft=scss